body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cellStyle{
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
}

.squareStyle {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  line-height: 50px; 
  text-align: center;
  margin-right: 20px;
}


.circleStyle {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50%;
  background-color: green;
}

.btn {
  text-transform: none;
}